body {
    background-color: rgb(0, 24, 32);
    color: rgb(243, 144, 157);
  }

h1 {
    text-align: center;
    margin: 50px;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 10;
  padding: 0;
  list-style-type: none;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgb(0, 34, 46);
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:hover {
  background: rgb(0, 64, 87);
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.addBtn {
  background: rgb(233, 181, 188);
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
  border-radius: 0;
  padding: 5px 8px 5px 8px;
}

.addBtn:hover {
  background-color: rgb(255, 245, 245);
}

.lomake {
  width: 35%;
  float: left;
  padding: 20px;
  border: 2px solid rgba(243, 144, 157, 0.493);
  border-radius: 5px;
  margin-left: 20px;
}

.lista {
  width: 60%;
  float: right;
}

.tyh {
  border: 2px solid rgba(243, 144, 157, 0.493);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.yht {
  border: 2px solid rgba(243, 144, 157, 0.493);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.eritelty {
  border: 2px solid rgba(243, 144, 157, 0.493);
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

th, td {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgb(0, 34, 46);
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

th, td:hover {
  background: rgb(0, 64, 87);
}

#tyhjenna {
  float: right;
  right: 60px;
  top: 150px;
  position: absolute;
}